/* DEVELOPER Kerri Reed, IS117-005, Fall 2020 */

body {
    padding-bottom: 120px;
    background-color: white;
    margin: 0 auto;
    background-image: url("../images/background.jpg");
    color: salmon;
}

a:hover{
    background-color: lightgray;
}

header img {
    float: left;
    padding-top: .75em;
}

header{
    border-bottom: solid;
    border-bottom-color: black;
    padding-top: 0em;
    padding-bottom: 2em;
    padding-right: 1.5em;
    font-family: "Americana BT";
    background-color: white; !important;
    color: black;
}

header h2{
    padding-left: 2em;
    font-weight: bold;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 0.75rem;
}

a:hover {
    color: hotpink;
}

.col-sm-4 a{
    text-decoration: underline;
}

.container .col-sm-4{
    margin-top: 1em;
    background-color: white;
}
